* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --square-color: #005792;
  --body-background-color: #000000;
  --heading-font-family: "Poppins";
  --heading-font-size: 3.2rem;
}

body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body > h1 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  color: firebrick;
}

.container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
  background-image: linear-gradient(
    111.5deg,
    rgba(20, 100, 196, 1) 0.4%,
    rgba(33, 152, 214, 1) 100.2%
  );
  border: 6px solid #2c3e50;
  border-radius: 20px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  margin-top: 2.5px;
  background: #5c258d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4389a2,
    #5c258d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4389a2,
    #5c258d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  cursor: pointer;
}

.markerStyling {
  color: white;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
}

.avoid-clicks {
  pointer-events: none;
}

/* Animation background */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
